<h1>Editing concert</h1>

<%= render 'form', :concert => @concert %>

<% content_for :actions do -%>
  <li><%= link_to 'Show', @concert %></li>
  <li><%= link_to 'Destroy', @concert, :method => :delete, :data => { :confirm => 'Are you sure?' } %></li>
  <li><%= link_to 'Back', concerts_path %></li>
<% end %>
