<h1>Listing concerts</h1>

<table class='table table-hover table-striped'>
  <tr>
    <th> Name </th>
    <th> Date </th>
  </tr>

<% @concerts.each do |concert| %>
  <tr>
    <td><%= link_to concert.name, edit_concert_path(concert) %></td>
    <td><%= concert.date %></td>
  </tr>
<% end %>
</table>

<% content_for :actions do -%>
  <li><%= link_to 'New Concert', new_concert_path %></li>
<% end %>
