<p id="notice"><%= notice %></p>


<% content_for :actions do -%>
  <li><%= link_to 'Edit', edit_concert_series_path(@concert_series) %></li>
  <li><%= link_to 'Back', concert_series_index_path %></li>
  <li><%= link_to 'Destroy', @concert_series, :method => :delete, :data => { :confirm => 'Are you sure?' } %></li>
<% end -%>
