<h1>Editing <%= @subscriber.full_name %></h1>

<%= render 'form', :subscriber => @subscriber %>

<% content_for :actions do -%>
  <li><%= link_to 'Show', @subscriber %></li>
  <li><%= link_to 'Back', subscribers_path %></li>
<% end -%>
